@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}
@import "leaflet/dist/leaflet.css";


body {
  font-family: 'Karla', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
.karla {
  font-family: 'Karla', sans-serif;
}
.josefin {
  font-family: 'Josefin Sans', sans-serif;
}
.museo {
  font-family: 'MuseoModerno', sans-serif;
}

@utility btn {
  @apply shadow-none;
  @apply border-0;
  @apply font-medium;
}
@utility tooltip {
  @apply tooltip-primary;
}
